body {
	font-family: 'Merriweather', serif;
	margin:0;
}
* {box-sizing: border-box;}

.bg-img {

  background-image: url("art2.jpg");
  min-height:500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 
 .para{
	  font-size:100%;
	  color:white;
	  text-align:center;
	  float:center;
	  font-family:'Merriweather', serif;
	  font-weight:200;

  }
  .bg-img .para{
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;        
        text-align: center;
        top:40%;
        font-family: Arial,sans-serif;
        color:black;
        width:70%;
		font-size:40px;
    }
 
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family:sans-serif;
}

li {
  float:left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
}
li a:hover:not(.active) {
  opacity:0.3;
  color:#c7966d;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 65px;
  text-decoration: none;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #111;
  min-width: 160px;
}
.dropdown-content a {
  color:white;
  padding: 20px 65px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
   opacity:0.3;
	}

.dropdown:hover .dropdown-content {
  display: block;
	}
.dropdown:hover .dropbtn {
  opacity:0.3;
}

* {box-sizing: border-box}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
button {
  background-color: #c7966d;
  color: white;
  padding: 20px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
span.psw {
  float: right;
  padding-top: 16px;
}